body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.main_div{
display: flex;
  min-height: 100vh;
justify-content: center;
  background-color: rgb(204, 204, 236);

}
/* 
img{
  margin-top: 10%;
  margin-left: 40%;
  text-align: center;
} */
.additem{
 margin-left: 25px;

}
.button{
  margin-left: 200px;
}

.inner{
  margin-left: 30px;
}
.btn1{
  margin-left: 70px;
  background-color: brown;
}
.btn1:hover{
  background-color: blue;

}